# React Native / Expo funcionam de forma mais estável com node_modules "achatado".
node-linker=hoisted
# Evita instalar versões incompatíveis sem aviso.
strict-peer-dependencies=false
auto-install-peers=true
